/* TODO: replace this with scss urgently!  */
canvas {
    /* This will make the canvas responsive without the need to resize */
    width: 100%;
    object-fit: contain;
}

.green {
    color: rgb(0, 255, 0);
}

.blue {
    color: rgb(0, 0, 255);
}

.hidden {
    display: none;
}

header {
    max-width: 1280px;
    margin: 50px auto auto auto;
}

header, main {
    padding: 0 !important;
}

section {
    margin: 0 !important;
}

body canvas {
    cursor: default;
    margin: 50px auto auto auto;
    display: block;
}

fieldset {
    margin: 0 5px 5px 0;
    padding: 0 6px;
}

fieldset legend {
    margin-bottom: 10px;
}

.switch-fieldset {
    margin-bottom: 15px;
    margin-top: 15px;
}

label {
    margin-bottom: 0;
    padding: 2px 15px;
}

label[for=second-pendulum] {
    margin: 15px 0 15px 0;
    padding: 0;
}

input[type=range] {
    margin: 0;
}

.buttons-fieldset a {
    margin-left: 15px;
}

#canvas-container > fieldset {
    padding: 15px;
}

#canvas-container {
    padding: 15px;
}

#plot-container {
    text-align: center;
}

#loading-spinner {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.t1008-grid {
    max-width: 1280px;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: ". ."
                                 ". .";
}
