/* TODO: replace this with scss urgently! */
:root {
    --green: rgb(0, 255, 0);
    --blue: rgb(0, 0, 255);

    --max-width: 1500px;
}

canvas {
    /* This will make the canvas responsive without the need to resize */
    width: 100%;
    object-fit: contain;

    margin: 0;
    padding: 0;
    cursor: default;
    display: block;
}

.green {
    color: var(--green);
}

.blue {
    color: var(--blue);
}

header {
    max-width: var(--max-width);
    margin: 50px auto auto auto;
}

header, main {
    padding: 0 !important;
}

section {
    margin: 0;
}

fieldset {
    margin: 0 5px 5px 0;
    padding: 0 6px;
}

fieldset legend {
    margin-bottom: 10px;
}

.switch-fieldset {
    margin-bottom: 15px;
    margin-top: 15px;
}

label {
    margin-bottom: 0;
    padding: 2px 15px;
}

label[for=second-pendulum] {
    margin: 15px 0 15px 0;
    padding: 0;
}

input[type=range] {
    margin: 0;
}

.buttons-fieldset a {
    margin-left: 15px;
}

details p {
    margin-bottom: 5px;
}

#canvas-container > fieldset {
    padding: 15px;
}

#canvas-container {
    padding: 15px;
}

#plot-type {
    margin-top: 1rem;
}

label[for=draw-points] {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#plot-container {
    text-align: center;
}

#main-container {}

.t1008-grid {
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: '. .' '. .';
}

/* lil-gui customizations */
div.lil-gui.root {
    height: 100%;
}

div.title[role=button] {
    padding-right: 100px !important;
}

div.widget > select {
     font-size: inherit !important;
}

/* lil-gui overrides over pico.css */
/* FIXME: Could use shadow-dom to do this */
input:not([type=checkbox], [type=radio], [type=range]) {
    height: inherit !important;
}

*[role=button] {
    background-color: inherit;
    font-size: 12px;
}
